---
import BaseLayout from './BaseLayout.astro';
const { frontmatter, showPageHeader = true } = Astro.props;
---
<BaseLayout
    title={frontmatter.title}
    description={frontmatter.description}
    canonical={frontmatter.canonical}
>
    <script>
        import '../scripts/avatar-media';
    </script>

    <div class="container">
        <div class="space-y-16">
            {showPageHeader && (
              <header class="page-header">
                <h1>{frontmatter.pageTitle || frontmatter.title}</h1>
                {frontmatter.tagline && <p>{frontmatter.tagline}</p>}
              </header>
            )}
            <slot />
        </div>
    </div>
</BaseLayout>
